.app {
    width: 250%;
}

.task-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.task-form__textarea {
    width: 80%;
    padding: 10px 5px;
    margin-right: auto;
    resize: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.task__delete {
    background: transparent;
    cursor: pointer;
    padding: 0 10px;
}